<div class="comment">
  <div class="comment-content" *ngIf="!isEditing">
    <p>{{ comment.content }}</p>
    <img *ngIf="comment.imageUrl" [src]="comment.imageUrl" alt="Comment image">
  </div>

  <div class="comment-edit-form" *ngIf="isEditing">
    <textarea [(ngModel)]="editedContent"></textarea>
    <button (click)="onSaveEdit()">Save</button>
    <button (click)="onCancelEdit()">Cancel</button>
  </div>

  <div class="comment-actions" *ngIf="showActions && !isEditing">
    <button (click)="onEdit()">Edit</button>
  </div>
</div>


