<div *ngFor="let comment of comments">
  <p>{{ comment.content }}</p>
  <img *ngIf="comment.imageUrl" [src]="comment.imageUrl" alt="Comment image">
  <div class="comment-actions" *ngIf="!isEditing">
    <button (click)="toggleEdit(comment)">Edit</button>
    <button (click)="deleteComment(comment.id)">Delete</button>
  </div>
  <div *ngIf="isEditing && editedCommentId === comment.id">
    <textarea [(ngModel)]="editedContent"></textarea>
    <button (click)="onSaveEdit()">Save</button>
    <button (click)="onCancelEdit()">Cancel</button>
  </div>
</div>



