<div *ngIf="isLoading">Loading...</div>

<div *ngIf="!isLoading && forums.length > 0">
  <h2>All Forums</h2>
  <ul>
    <li *ngFor="let forum of forums">
      <a [routerLink]="['/forums', forum.id]">{{ forum.name }}</a>
    </li>
  </ul>
</div>

<div *ngIf="!isLoading && forums.length === 0">No forums available yet.</div>
<div *ngIf="error">{{ error }}</div>

<div *ngIf="selectedForum">
  <h2>{{ selectedForum.name }}</h2>
  <p>{{ selectedForum.description }}</p>

  <app-thread *ngIf="!isLoading" [forumId]="selectedForum.id"></app-thread>

  <router-outlet></router-outlet>
</div>





