<div *ngIf="isLoadingForums">Loading forums...</div>

<div *ngIf="!isLoadingForums && forums.length > 0">
  <h2>All Forums</h2>
  <ul>
    <li *ngFor="let forum of forums">
      <a [routerLink]="['/forums', forum.id]">{{ forum.name }}</a>
    </li>
  </ul>
</div>

<div *ngIf="!isLoadingForums && forums.length === 0">No forums available yet.</div>

<div *ngIf="selectedForum">
  <h2>{{ selectedForum.name }}</h2>
  <p>{{ selectedForum.description }}</p>

  <div *ngIf="isLoadingThreads">Loading threads...</div>

  <ul *ngIf="!isLoadingThreads">
    <li *ngFor="let thread of threads">
      <a [routerLink]="['/forums', selectedForum.id, 'threads', thread.id]">{{ thread.title }}</a>
    </li>
  </ul>
</div>

<div *ngIf="!selectedForum && !isLoadingForums">Forum ID not provided.</div>

<div *ngIf="error">{{ error }}</div>





