<div *ngIf="isLoadingThreads">
  Loading threads...
</div>
<div *ngIf="errorMessage">
  <p>{{ errorMessage }}</p>
</div>
<div *ngIf="!isLoadingThreads && threads.length === 0">
  No threads found.
</div>
<div *ngIf="threads.length > 0">
  <ul>
    <li *ngFor="let thread of threads">
      <h3>{{ thread.title }}</h3>
      <p>{{ thread.content }}</p>
      <!-- Adjust routing based on your application needs -->
      <a [routerLink]="['/forums', forumId, 'threads', thread.id]">View Thread</a>
    </li>
  </ul>
</div>



